@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent html/body from creating extra scrollbars */
html, body, #root {
  height: 100%;
  margin: 0;
}

/* Prevent iOS black flash on tap */
* {
  -webkit-tap-highlight-color: transparent;
}